.form__contUs{
flex-flow: column;
display: flex;
max-width: 293px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
color:#fff;
font: 16px;
font-family: 'Puritan', sans-serif;
}
/* .text__cont .List__Link {
    text-align: left;
    padding: 6px 47px 30px 27px;
    justify-content: flex-start;
    
} */
.text__cont  {
    text-align: left;
    padding: 35px 35px 35px 30px;
    justify-content: flex-start;
    
}
.List__Link {
    
        font-family: 'Puritan', sans-serif;
        display: flex;
       
        justify-content: start;
    
}
/* .text__cont p{
    padding:0 0 0 25px  ;
} */