.modal-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный фон */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: #fff;

}
.btn-ara{
    width: 100%;
}
.modal-based {
    
    width: 100%;
    height: 100%;
  
    /* Полупрозрачный фон */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: #fff;

}

.none{
    display:none;
}
.modal  {
    background-color: #492E21;
    background-image: url(../../img/icons/bg-tree.png);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-flow: column;
}
.modal h2 {
    padding:0;
    margin:0;

}

.modal-content {
    background-color: #492E21;
    background-image: url(../../img/icons/bg-tree.png);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-flow: column;
}

.btn-close {
    display: flex;
    justify-content: right;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.group {

    display: flex;
    flex-wrap: wrap;
    gap: 0 9px;
}
.form-group{
    flex: 1 1 calc(50% - 10px);
    
}

.form-group ::placeholder {
    color: #969696;
    text-align: left;
    font-size: 16px;
}



.form-group input {
    box-sizing: border-box;
    margin-bottom: 9px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;

}
.form-chan select{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 9px;
}
