.AboutUs{
    background-color: #FAF8EE;
    color:#fff;
    margin-bottom:100px ;
 
    display: flex;
}
.About-main{
position: relative;


}
.about-photo{
    display: flex;
    max-width: 590px;
    z-index: 1;
}
.colm{
    flex: 1;
    flex-direction: column;
    width: 50%;
}
.about-title{
    right: 0;
    top: 100px;
    position: absolute;
    padding: 50px;
    margin: 0 auto;
    max-width: 630px;
    background-color: #492E21;
background-image: url(../../img/icons/bg-tree.png);
    height: auto;

  
    z-index: 2;
    font-size:16px ;
}
.About-text{
    /* padding: 50px 80px 30px  80px; */
}
