.reviews-main{
    background-color: #FAF8EE;
    
}
.reviews-title{
    display: flex;
    justify-content: space-between;
}
.reviews-list{
    display: flex;
    flex-flow: column;
    gap:5px;
}
.numbers-list{
    display: flex;
    justify-content: center;
}
.numbers-list li{
background-color:#D5802E ;
border-radius: 50%;
}