.Header {
    background-image: url(../../img//Hiro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* min-width: 100%; */
    font-family: 'Puritan', sans-serif;
    height: 100%;
    display: flex;
    margin-bottom: 100px;
    padding: 5px
}


.header__title {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 275px;
    margin-right: 85px;
}

.header__text h1 {
    font-size: 84px;
    font-weight: bold;
    margin-bottom: 15px;
}

.header__text h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 55px;

}

