.footer-main{
    display: flex;
    justify-content: space-between;
    background-color: #492E21;
    background-image: url(../../img/icons/bg-tree.png);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.footer p{
    margin: 0;
}
.footer-block{
   margin-top: 20px;
   margin-bottom:20px ;
    display: flex;
    align-items: center;
    flex-flow: column;

}
.footer-logo{
    width: 80px;
    height: 80px;
    
}
@media(max-width: 450px) {

    .footer{
        display: flex;
        flex-flow: column;
    }
.footer-call{
    padding: 30px;
    order: 2;
}
.footer-block{
    order: 1;
}
.footer-adress{
    padding: 10px;
    order: 3;
}



}