
.List__Link {
    font-family: 'Puritan', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
   
}
.link__li{
    margin-right: 9px;
    width: 40px;
    height: 40px;
    background-color:  #D5802E;
    border-radius: 40px;
    display: flex;
   align-items: center;
    justify-content: center;
}

.link__li  a  {
 display: flex;
}

.link__li img {
align-items: end;
   
}
